// Add your custom CSS here.
.prices__value, .cart-item__prices, .cart__summary-row, .cart__shipping, .discount-applier, .checkout__shipping, .summary__amount, .payment__total, .order-info__shipping-freight, #product-actions .shipping-calculator {
  display: none !important;
}
.cart__btn-checkout {
 font-size: 0px;
  &:after {
    content: "Finalizar Orçamento";
    font-size: 15px !important;
  }
}
.payment__pay {
  font-size: 0px;
  i:after {
    content: "Finalizar Orçamento";
    font-size: 15px !important;
  }
}
.order-info__financial-status--pending, .order-info__timeline-status--pending {
   font-size: 0px;
  &:after {
    content: "Aguardando Finalização de Orçamento";
    font-size: 15px !important;
  }
}
.summary__item picture + div {
font-size: 0px;
  span {
    font-size 10px !important;
  }
}
